{% extends "::base.html.twig" %}

{% block title %}ApwBlackbullBundle:Categories:createCategory{% endblock %}

{% block body %}
<h1>Crea una nuova categoria</h1>
    {# rende l'unico campo: description #}
    {{ form(form) }}
    <a class="btn btn-primary btn-lg" href="{{ app.request.headers.get('referer') }}"><i class="fa fa-arrow-circle-left"></i> Torna all'elenco</a>
{% endblock %}
