{% extends "::base.html.twig" %}

{% block title %}Aggiunta Categoria Prodotti{% endblock %}

{% block centralSide %}
    <ol class="breadcrumb">
        <li><a href="{{ path('_welcome') }}">Home</a></li>
        <li><a href="{{ path('apw_blackbull_categories_showcategories') }}">Categorie Prodotti</a></li>
        <li><a>Aggiungi Categoria</a></li>
    </ol>
    <div class="page-header">
        <a class="btn btn-primary btn-lg" href="{{ app.request.headers.get('referer') }}"><i class="fa fa-arrow-circle-left"></i> Indietro</a>
    </div>
    {# rende l'unico campo: description #}
    {{ form(form) }}
{% endblock %}
