{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}
{% block title %}Elenco delle categorie prodotti{% endblock %}

{% block body %}
<h3>Elenco delle categorie prodotti</h3>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <!-- Table -->
            <table id="categoryTbl" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Categorie/Prodotti</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        {% for categoryDesc in category.getCategoryDescription %}
                            <tr>
                                <td> {{ categoryDesc.categoriesName }}</td>
                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <a class="btn btn-primary"><i class="fa fa-gear fa-fw"></i> Azioni</a>
                                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                            <span class="fa fa-caret-down"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><i class="fa fa-eye fa-fw"></i> Dettagli</a></li>
                                            <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Modifica</a></li>
                                            <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Elimina</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#categoryTbl').DataTable({
                //options
            });
        });
    </script>
{% endblock %}
